.swiper {
  top: -20px;
  width: 100%;
  max-width: 375px;
  height: 244px;
}
.feature-swiper {
  width: 100%;
  max-width: 375px;
  height: 244px;
}

.pagination-swiper {
  display: none;
  &--active {
    display: block;
  }
}

.swiper-slide img {
  width: 100%; /* Imágenes se ajustan al ancho del contenedor */
  height: 100%; /* Imágenes se ajustan a la altura del contenedor */
}

.swiper-btn-prev {
  position: absolute;
  top: 106px;
  margin-left: 15px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $white;
  background-image: url("../icons/swiper/arrow_left\ .svg");
  z-index: 1;
}
.swiper-btn-next {
  position: absolute;
  top: 106px;
  right: 0px;
  margin-right: 15px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $gold;
  background-image: url("../icons/swiper/arrow_rigth.svg");
  z-index: 1;
}

.carousel-cell {
  width: 100%;
  margin-top: 32px;
  counter-increment: gallery-cell;
}
.carousel-cell:before {
  counter-increment: gallery-cell;
}
.flickity-button {
  display: none;
  background: transparent;
}
/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px !important;
}
/* white circles */
.flickity-page-dots .dot {
  width: 7px !important;
  height: 7px !important;
  opacity: 1;
  background: transparent;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $gold;
}

.menu-swiper-btn-prev {
  position: absolute;
  bottom: -46px;
  right: 66px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color:#F8F8F8;
  background-image: url("../icons/swiper/arrow_left\ .svg");
  z-index: 1;
}
.menu-swiper-btn-next {
  position: absolute;
  bottom: -46px;
  right: 0px;
  margin-right: 15px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $gold;
  background-image: url("../icons/swiper/arrow_rigth.svg");
  z-index: 1;
}
