// Custom swiper

.swiper-300px{
  height: 300px;
}
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
 &--square {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0 !important;
    color: var(--gris7-color)!important;
    background-color: transparent !important;
    opacity: 1 ;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  &.swiper-pagination-bullet-active {
    background-color: var(--marron-color) !important;
  }

 
}

.button-container {
  //width: 100%;
  position: relative;
}

.swiper-button-prev {
  width: 32px;
  height: 32px;
  background-color: var(--marron-color);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/prev-active.svg");

  &::after {
    display: none;
  }

  &.swiper-button-disabled {
    background-color: white;
    background-image: url("/icons/prev.svg");
    opacity: 1;
  }

  &--out {
    left: 15px !important;
    
  }

  &--out-wide {
    left: 15px !important;
    top: 30vw !important;
  }
}

.swiper-button-next {
  width: 32px;
  height: 32px;
  background-color: var(--marron-color);
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/next-active.svg");

  &::after {
    display: none;
  }

  &.swiper-button-disabled {
    background-color: white;
    background-image: url("/icons/next.svg");
    opacity: 1;
  }

  &--out {
    right: 15px !important;
  }

  &--out-wide {
    right: 15px !important;
    top: 30vw !important;
  }
}

.swiper-slide {
  &__room {
    width: 70%;
    height: 60vw;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__food {
    width: 335px;
    height: 250px !important;
    background-color: var(--marron-color);
    margin-bottom: 12px;
    position: relative;
    z-index: 100; 
    object-fit: cover;
  }

  &__feat {
    width: 335px;
    height: 230px;
    background-color: black;
    margin-bottom: 12px;
    position: relative;
    z-index: 100;
   
  }

  &__fact {
    width: 335px;
    height: 230px;
    background-color: black;
    margin-bottom: 12px;
    position: relative;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.facts {
  &__justificated {
    text-align: center;
  }
}
