@charset "UTF-8";
/*----------background colors----------*/
/*---------font family----------*/
/*----------text colors, familys and sizes----------*/
/*---------colors----------*/
.swiper {
  top: -20px;
  width: 100%;
  max-width: 375px;
  height: 244px;
}

.feature-swiper {
  width: 100%;
  max-width: 375px;
  height: 244px;
}

.swiper-slide img {
  width: 100%; /* Imágenes se ajustan al ancho del contenedor */
  height: 100%; /* Imágenes se ajustan a la altura del contenedor */
}

.swiper-btn-prev {
  position: absolute;
  top: 106px;
  margin-left: 15px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  background-image: url("../icons/swiper/arrow_left .svg");
  z-index: 1;
}

.swiper-btn-next {
  position: absolute;
  top: 106px;
  right: 0px;
  margin-right: 15px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bead8e;
  background-image: url("../icons/swiper/arrow_rigth.svg");
  z-index: 1;
}

.carousel-cell {
  width: 100%;
  margin-top: 32px;
}

.flickity-button {
  display: none;
  background: transparent;
}

/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px !important;
}

/* white circles */
.flickity-page-dots .dot {
  width: 7px !important;
  height: 7px !important;
  opacity: 1;
  background: transparent;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #bead8e;
}

.menu-swiper-btn-prev {
  position: absolute;
  bottom: -60px;
  right: 66px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8f8f8;
  background-image: url("../icons/swiper/arrow_left .svg");
  z-index: 1;
}

.menu-swiper-btn-next {
  position: absolute;
  bottom: -60px;
  right: 0px;
  margin-right: 15px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #bead8e;
  background-image: url("../icons/swiper/arrow_rigth.svg");
  z-index: 1;
}

.food-images-swiper {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

.food-swiper {
  position: relative;
  margin: 120px auto 0px;
  overflow: hidden;
}
.food-swiper .swiper-slide img {
  width: 100%; /* Imágenes se ajustan al ancho del contenedor */
  height: 244px; /* Imágenes se ajustan a la altura del contenedor */
  max-width: 375px;
}
.food-swiper-pagination {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}
.food-swiper .swiper-pagination-bullet-active {
  background-color: #bead8e;
}

html,
* {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  min-width: 320px;
}

.main-title {
  font-family: Old Standard TT;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
}
.main-title-white {
  color: #fff;
}
.main-title-black {
  color: #111111;
}

.subtitle {
  font-family: Archivo;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.8px;
}

.second-subtitle {
  text-transform: capitalize;
  font-family: var(--old-font);
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.third-subtitle {
  font-family: Old Standard TT;
  color: #111111;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.9px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: 0 0;
  margin: 0;
  opacity: 0;
  pointer-events: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 60px;
}
.button_small {
  width: 217px;
}
.button_small--gold {
  background-color: #bead8e;
}
.button_small--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button_regular {
  width: 250px;
}
.button_regular--gold {
  background-color: #bead8e;
}
.button_regular--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button_big {
  width: 290px;
}
.button_big--gold {
  background-color: #bead8e;
}
.button_big--transparent {
  border: 2px solid rgba(255, 255, 255, 0.33);
}
.button_text {
  font-family: Archivo;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.breadcrumb {
  font-family: Archivo, sans-serif;
  width: fit-content;
  background-color: #fff;
  color: #111111;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: -0.5px;
  padding: 16px 24px;
  position: absolute;
  right: 20px;
  bottom: 0;
}
.breadcrumb__a {
  display: inline;
}
.breadcrumb__line {
  margin: 0 10px;
}
.breadcrumb__current {
  color: #bead8e;
}

@media only screen and (min-width: 1200px) {
  .breadcrumb {
    right: 300px;
  }
}
.room_amenities {
  position: relative;
  display: flex;
  padding: 0 24px;
  margin: 24px auto 0;
  gap: 16px;
  align-items: center;
  width: fit-content;
  max-width: 300px;
  min-height: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.05);
  z-index: 2;
}

._icon {
  width: 16px;
  height: 16px;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.29);
  justify-content: space-between;
  flex-flow: row nowrap;
  z-index: 5;
}

.header_left {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 32px;
}

.header_right {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 24px;
}

.header_letterhead {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header_hotel-logo {
  width: 36px;
  height: 36px;
  background-image: url("../icons/header/H.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}

.header_hotel-name {
  width: 61px;
  height: 21px;
  background-image: url("../icons/header/HotelMiranda.svg");
}

.header_menu {
  width: 20px;
  height: 13px;
  margin-left: 20px;
  background-image: url("../icons/header/header-menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.header_menu--active {
  margin-left: 24.45px;
  width: 15.56px;
  height: 15.56px;
  background-image: url("../icons/header/header-x-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.header_magnifier-icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  background-image: url("../icons/header/header-search-magnifier.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.header_member-icon {
  width: 24px;
  height: 24px;
  background-image: url("../icons/header/header-member.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.navbar {
  background-color: #fff;
  width: 100%;
  position: absolute;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
  top: 70px;
  display: none;
  list-style-type: none;
  padding-left: 21px;
  padding-top: 32px;
}
.navbar--active {
  display: block;
}

.navbar_li {
  margin-bottom: 24px;
}

.navbar_a {
  font-family: Archivo;
  color: #111;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.banner {
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  top: 70px;
  padding-left: 20px;
  padding-bottom: 76px;
  background-color: #333;
}

.banner-subtitle {
  padding: 75px 118px 40px 0px;
}

.banner-main-title {
  padding: 0px 41px 40px 0px;
}

.banner_button-container {
  display: flex;
  flex-flow: column;
  gap: 24px;
}

.availability {
  max-width: 600px;
  margin: 70px auto 0px;
  padding: 36px 20px;
  background: #111111;
}

.availability_form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.availability_item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 23px;
  margin-bottom: 30px;
}

.calendar-icon {
  position: absolute;
  width: 16px;
}

.label-text {
  font-family: Roboto;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.availability_input {
  font-family: Roboto;
  color: #686868;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
  padding-left: 25px;
  background-color: transparent;
  top: 0px;
  left: 0px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid #bead8e;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.about-us_section-1 {
  padding: 0 20px 175px 20px;
  margin-top: 60px;
  background-color: #f9f9f9;
}

.about-us-subtitle {
  padding-top: 38px;
  margin-bottom: 32px;
  color: #777777;
}

.about-us-paragraph {
  margin-top: 16px;
  color: #777777;
  font-family: Archivo, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}

.about-us_section-2 {
  margin-top: -115px;
}

.about-us_section-3 {
  background: #fff;
  width: 270px;
  margin: 0 auto 45px;
}

.about-us_img-team {
  margin: 0 auto;
  object-fit: cover;
  width: 270px;
  height: 300px;
}

.about-us_section-3_content {
  position: relative;
  padding: 54px 0 45px;
  box-shadow: 0px 8px 16px 0px rgba(34, 34, 34, 0.1);
}

.about-us_icon-team-front {
  position: relative;
  margin: 0 auto 29.5px;
  background-image: url("../icons/about/team-front.svg");
  width: 68px;
  height: 50px;
  z-index: 1;
}

.about-us_icon-team-background {
  position: absolute;
  top: 50px;
  right: 0px;
  background-image: url("../icons/about/team-background.svg");
  width: 144px;
  height: 106px;
  z-index: 0;
}

.about-us-third-subtitle {
  position: relative;
  text-align: center;
}

.about-us-second-paragraph {
  color: #111111;
  text-align: center;
  font-family: Roboto, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 21px 0 0 0;
  padding: 0 35px;
}

.about-us_section-4 {
  width: 270px;
  margin: 0 auto;
}

.about-us_section-4_content {
  padding: 54px 0 38px;
  background: #222222;
}

.about-us_img-room {
  position: relative;
  top: 4px;
  margin: 0 auto;
  object-fit: cover;
  width: 270px;
  height: 300px;
}

.about-us_icon-calendar {
  margin: 0 auto 29.5px;
  background-image: url("../icons/about/calendar-about.svg");
  width: 57px;
  height: 50px;
  z-index: 1;
}

.about-us-third-subtitle-2 {
  position: relative;
  text-align: center;
  color: #fff;
}

.about-us-third-paragraph {
  position: relative;
  color: #fff;
  text-align: center;
  font-family: Roboto, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 0 35px;
  margin: 21px 0 0 0;
}

@media only screen and (max-width: 360px) {
  .about-us-title {
    font-size: 50px;
  }
}
@media only screen and (min-width: 1000px) {
  .about-us {
    margin-top: 120px;
    display: flex;
    flex-direction: row-reverse;
    min-height: 780px;
  }
  .about-us_section-1 {
    padding-left: 185px;
    width: 56%;
  }
  .about-us_section-2 {
    margin: 0;
    display: flex;
    gap: 30px;
    flex-direction: row;
  }
  .about-us_section-3 {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column-reverse;
    margin-bottom: 155px;
  }
  .about-us_section-4 {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin-right: -125px;
    top: 30px;
  }
}
.about-title {
  padding-bottom: 20px;
}

.rooms-subtitle {
  text-align: center;
  margin-top: 60px;
  color: #777777;
  margin-bottom: 24px;
}

.rooms-title {
  text-align: center;
}

.room-container {
  position: relative;
  top: -40px;
  padding: 20px;
  z-index: 2;
  background: #fff;
  width: 300px;
  max-height: 215px;
  margin: 0 auto;
  text-align: center;
}

.room-name {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.room-subtitle {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.2px;
}

.room-description {
  color: #777777;
  font-family: Archivo, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.room-price {
  color: #bead8e;
  text-align: center;
  font-family: Archivo, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
.room-price-value {
  font-size: 32px;
}
.room-price-nigth {
  font-size: 13px;
}

.video-section {
  margin: 0 auto;
  max-width: 600px;
  background-color: #111111;
  padding: 64px 20px 48px 20px;
}

.video-section-subtitle {
  color: #bead8e;
}

.video-section-title {
  margin: 32px 0 16px 0;
}

.video-section-description {
  color: #c2c2c2;
  font-family: Archivo, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
}

.video-container {
  margin: 0 auto;
  width: 335px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 36px;
}

@media only screen and (max-width: 360px) {
  .video-container {
    width: 280px;
    height: 180px;
  }
}
.facilities {
  margin: 0 auto;
  max-width: 500px;
  padding: 60px 24px;
}

.facilities-subtitle {
  text-align: center;
  color: #777777;
  margin-bottom: 24px;
}

.feature {
  height: 360px;
  width: 100%;
  max-width: 450px;
  text-align: start;
  padding: 81px 38px;
  position: relative;
  padding-bottom: 0px;
}
.feature_icon {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 38px;
  position: relative;
}
.feature_icon--one {
  background-image: url("../icons/features/have-high-rating.svg");
}
.feature_icon--two {
  background-image: url("../icons/features/quiet-hours.svg");
}
.feature_icon--three {
  background-image: url("../icons/features/best-locations.svg");
}
.feature_icon--four {
  background-image: url("../icons/features/free-cancelation.svg");
}
.feature_icon--five {
  background-image: url("../icons/features/payment-options.svg");
}
.feature_icon--six {
  background-image: url("../icons/features/special-offers.svg");
}
.feature_number {
  font-weight: 700;
  font-size: 120px;
  line-height: 130px;
  color: rgba(34, 34, 34, 0.04);
  font-family: Archivo, sans-serif;
  position: absolute;
  right: 32px;
  top: 0;
}
.feature_title {
  margin-bottom: 28px;
}
.feature_p {
  font-family: Archivo, sans-serif;
  color: #777777;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (max-width: 360px) {
  .feature_title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .feature_number {
    font-size: 110px;
  }
}
.menu {
  margin: 0 auto;
  max-width: 600px;
  padding: 115px 20px 60px 20px;
  overflow: hidden;
}
.menu-icon {
  position: absolute;
  top: -115px;
  right: -33.5px;
  width: 114.5px;
  height: 114.5px;
}
.menu-title {
  margin-bottom: 32px;
}
.menu-subtitle {
  color: #777777;
  margin-bottom: 24px;
}
.menu-swiper-container {
  position: relative;
}
.menu-container {
  display: flex;
  gap: 29px;
  width: 100%;
  max-width: 335px;
  min-height: 120px;
}
.menu-food-title {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 185px;
}
.menu-food-paragraph {
  color: #111111;
  font-family: Roboto, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (max-width: 360px) {
  .menu-food-title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
  }
  .menu-food-paragraph {
    font-size: 10px;
  }
}
.stats-section {
  margin: 0 auto;
  max-width: 600px;
}

.stats {
  padding: 48px 0px;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats-icon {
  width: 78px;
  height: 80px;
  margin-bottom: 16px;
}
.stats-text-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.stats-number {
  color: #fff;
  font-family: Roboto, serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 136.4%;
}
.stats-plus {
  color: #fff;
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 136.4%;
}
.stats-paragraph {
  color: #999;
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 136.4%;
  position: relative;
  top: -12px;
}

.footer {
  margin: 0 auto;
  max-width: 600px;
}
.footer-content {
  margin-top: 60px;
  padding: 32px 20px 32px 20px;
  background-image: url("../assets/footer/background.svg");
  background-repeat: repeat;
}
.footer-letterhead {
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: #bead8e;
  color: #fff;
  font-family: Archivo, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
}
.footer-letterhead-text {
  position: relative;
  top: -68px;
  left: 110px;
  color: #111;
  font-family: Archivo;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  width: 137px;
}
.footer-letterhead-text span {
  color: #111;
  font-family: Archivo;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.6px;
  text-transform: uppercase;
}
.footer-paragraph {
  position: relative;
  top: -9px;
  color: #777777;
  font-family: Archivo, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}
.footer a {
  height: 40px;
  width: 40px;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 32px;
}
.footer a:hover {
  background-color: #bead8e;
}
.footer-socials {
  display: flex;
  gap: 10px;
}
.footer-socials-facebook {
  background-image: url("../icons/footer/facebook.svg");
}
.footer-socials-twitter {
  background-image: url("../icons/footer/twitter.svg");
}
.footer-socials-behace {
  background-image: url("../icons/footer/behance.svg");
}
.footer-socials-linkedin {
  background-image: url("../icons/footer/linkedin.svg");
}
.footer-socials-youtube {
  background-image: url("../icons/footer/youtube.svg");
}
.footer-subtitle {
  color: #111111;
  font-family: Old Standard TT, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
}
.footer-subtitle-contact {
  margin-bottom: 34px;
}
.footer-services {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.footer ul {
  color: #777777;
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 32px;
}
.footer-contact {
  display: flex;
  gap: 20px;
}
.footer-contact-data {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer-contact-icons {
  height: 40px;
  width: 40px;
}
.footer-contact-title {
  color: #111111;
  font-family: Old Standard TT, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-contact-subtitle {
  color: #777777;
  font-family: Roboto, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-end {
  padding: 16px 0px 16px 20px;
  background-color: #f8f8f8;
  color: #111111;
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.48px;
  text-align: center;
}
.footer-end-copyright {
  margin-bottom: 24px;
}

/*# sourceMappingURL=styles.css.map */
